<div id="topbar">
  <button id="signin">Sign In</button>
</div>
<div class="main">
  <a href="#" id="logo">L'Books</a>

  <%= form_with url: search_path, :id => "flexbox", method: :post do |form| %>
    <%= form.select :criteria, @search_types.collect { |st| [st.display_name, st.id] }, :id => "criteria" %>
    <%= form.text_field :search_term, placeholder: "(type your query here)", aria: { "label": "Search by query type selected" }, :id => "search" %>
    <%= form.submit "Go", :id => "search-btn" %>
  <% end %>
</div>