<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>L'Books</title>
        <link rel="stylesheet" href="../../assets/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Parisienne&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="navbar">
            <a href="index.html" id="navbar-logo">L'Books</a>
            <button id="signin">Sign In</a>
        </div>
        <div class="dashboard-main">
            <div id="flexbox" style="font-size: 30px;"> Dashboard - FIRST LAST </div>

            <div id="my-listings">My listings</div>
            <div id="my-listings-wrapper">
                <a class="result" href="#"> 
                    <img class="cover-small" src="../../assets/images/iliad.jpg" />
                    <div class="book-title-author-edition">
                        <p class="book-title">Book Title</p>
                        <p class="book-author">Book Author</p>
                        <p class="book-edition">Edition | ISBN</p>
                    </div>
                    <div class="book-number">
                        <div class="book-count">X</div>
                        <div style="text-align: center;">listings</div>
                    </div>
                </a>
                <a class="result" href="#"> 
                    <img class="cover-small" src="../../assets/images/iliad.jpg" />
                    <div class="book-title-author-edition">
                        <p class="book-title">Book Title</p>
                        <p class="book-author">Book Author</p>
                        <p class="book-edition">Edition | ISBN</p>
                    </div>
                    <div class="book-number">
                        <div class="book-count">X</div>
                        <div style="text-align: center;">listings</div>
                    </div>
                </a>
                <a class="result" href="#"> 
                    <img class="cover-small" src="../../assets/images/iliad.jpg" />
                    <div class="book-title-author-edition">
                        <p class="book-title">Book Title</p>
                        <p class="book-author">Book Author</p>
                        <p class="book-edition">Edition | ISBN</p>
                    </div>
                    <div class="book-number">
                        <div class="book-count">X</div>
                        <div style="text-align: center;">listings</div>
                    </div>
                </a>
            </div>

            <div id="bookmarked-listings">Bookmarked Listings</div>
            <div id="bookmarked-listings-wrapper">
                <a class="result" href="#"> 
                    <img class="cover-small" src="../../assets/images/iliad.jpg" />
                    <div class="book-title-author-edition">
                        <p class="book-title">Book Title</p>
                        <p class="book-author">Book Author</p>
                        <p class="book-edition">Edition | ISBN</p>
                    </div>
                    <div class="book-number">
                        <div class="book-count">X</div>
                        <div style="text-align: center;">listings</div>
                    </div>
                </a>
                <a class="result" href="#"> 
                    <img class="cover-small" src="../../assets/images/iliad.jpg" />
                    <div class="book-title-author-edition">
                        <p class="book-title">Book Title</p>
                        <p class="book-author">Book Author</p>
                        <p class="book-edition">Edition | ISBN</p>
                    </div>
                    <div class="book-number">
                        <div class="book-count">X</div>
                        <div style="text-align: center;">listings</div>
                    </div>
                </a>
                <a class="result" href="#"> 
                    <img class="cover-small" src="../../assets/images/iliad.jpg" />
                    <div class="book-title-author-edition">
                        <p class="book-title">Book Title</p>
                        <p class="book-author">Book Author</p>
                        <p class="book-edition">Edition | ISBN</p>
                    </div>
                    <div class="book-number">
                        <div class="book-count">X</div>
                        <div style="text-align: center;">listings</div>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>