html {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

p, div {
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR SECTION */

#topbar {
    display: grid;
    grid-template-columns: 1fr 128px;
    grid-template-rows: 48px;
    grid-template-areas: ". signin";
}

#navbar {
    display: grid;
    grid-template-columns: 128px 1fr 128px;
    grid-template-rows: 48px;
    grid-template-areas: "navbar-logo . signin";
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar-logo {
    grid-area: navbar-logo;
    justify-self: center;
    align-self: end;
    font-family: 'Parisienne', cursive;
    font-size: 32px;
    color: white;
}

#signin {
    grid-area: signin;
    justify-self: center;
    align-self: center;
    border: none;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    background-color: maroon;
    font-weight: bold;
    color: white;
}

/* MAIN SECTION */

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px 64px 32px;
    grid-template-areas: 
        ". logo ."
        ". flexbox ."
        ". search-btn .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
    font-family: 'Parisienne', cursive;
    font-size: 64px;
}

#flexbox {
    grid-area: flexbox;
    align-self: center;
    justify-self: center;
    display: flex;
}

#criteria {
    height: 36px;
    width: 160px;
    border: 1px solid darkgray;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    text-align-last: center;
}

#search {
    height: 32px;
    width: 80%;
    border: 1px solid darkgray;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-left: 16px;
}

#search:hover {
    box-shadow: 1px 1px 5px lightgray;
}

#search:focus {
    box-shadow: 1px 1px 5px lightgray;
}

#search-btn {
    grid-area: search-btn;
    justify-self: center;
    align-self: center;
    border: none;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
}

#search-btn:hover {
    border: 1px solid darkgray;
}

#search-btn:focus {
    border: 1px solid darkgray;
}

/* RESULTS SECTION */

.listing-main {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 64px 32px 1fr;
    grid-template-areas: 
        ". flexbox ."
        ". search-btn ."
        ". listing-wrapper .";
}

#listing-wrapper {
    grid-area: listing-wrapper;
    margin-top: 64px;
    width: max-content;
    max-width: 80vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.listing {
    display: grid;
    grid-template-columns: 110px 210px 100px;
    grid-template-rows: 160px;
    grid-template-areas: 
        "cover-small listing-title-author-edition listing-number";
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 10px 20px 10px;
}

.cover-small {
    grid-area: cover-small;
    height: 150px;
    justify-self: center;
    align-self: center;
}

.listing-title-author-edition {
    grid-area: listing-title-author-edition;
    justify-self: left;
    align-self: center;
    margin-left: 10px;
}

.listing-number {
    grid-area: listing-number;
    justify-self: center;
    align-self: center;
}

.listing-count {
    text-align: center;
    font-size: 40px;
}