html {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

p, div {
    font-family: 'Open Sans', sans-serif;
}

/* NAVBAR SECTION */

#topbar {
    display: grid;
    grid-template-columns: 1fr 128px;
    grid-template-rows: 48px;
    grid-template-areas: ". signin";
}

#topbar_new{
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding : 2px;
    padding-right:15px;
}

#navbar {
    display: grid;
    grid-template-columns: 128px 1fr 128px;
    grid-template-rows: 48px;
    grid-template-areas: "navbar-logo . signin";
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar-logo {
    grid-area: navbar-logo;
    justify-self: center;
    align-self: end;
    font-family: 'Parisienne', cursive;
    font-size: 32px;
    color: white;
}

#signin {
    grid-area: signin;
    justify-self: center;
    align-self: center;
    border: none;
    float: right;
    margin: 5px;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    background-color: maroon;
    font-weight: bold;
    color: white;
}

/* MAIN SECTION */

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px 64px 32px;
    grid-template-areas: 
        ". logo ."
        ". flexbox ."
        ". search-btn .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
    font-family: 'Parisienne', cursive;
    font-size: 64px;
}

#flexbox {
    grid-area: flexbox;
    align-self: center;
    justify-self: center;
    display: flex;
}

#criteria {
    height: 36px;
    width: 160px;
    border: 1px solid darkgray;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    text-align-last: center;
}

#search {
    height: 32px;
    width: 80%;
    border: 1px solid darkgray;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-left: 16px;
}

#search:hover {
    box-shadow: 1px 1px 5px lightgray;
}

#search:focus {
    box-shadow: 1px 1px 5px lightgray;
}

#search-btn {
    grid-area: search-btn;
    justify-self: center;
    align-self: center;
    border: none;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
}

#search-btn:hover {
    border: 1px solid darkgray;
}

#search-btn:focus {
    border: 1px solid darkgray;
}

/* RESULTS SECTION */

.results-main {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 64px 32px 1fr;
    grid-template-areas: 
        ". flexbox ."
        ". search-btn ."
        ". results-wrapper .";
}

#results-wrapper {
    grid-area: results-wrapper;
    margin-top: 64px;
    width: max-content;
    max-width: 80vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.result {
    display: grid;
    grid-template-columns: 110px 210px 100px;
    grid-template-rows: 160px;
    grid-template-areas: 
        "cover-small book-title-author-edition book-number";
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 10px 20px 10px;
}

.cover-small {
    grid-area: cover-small;
    height: 150px;
    justify-self: center;
    align-self: center;
}

.book-title-author-edition {
    grid-area: book-title-author-edition;
    justify-self: left;
    align-self: center;
    margin-left: 10px;
}

.book-number {
    grid-area: book-number;
    justify-self: center;
    align-self: center;
}

.book-count {
    text-align: center;
    font-size: 40px;
}

/* BOOK SECTION */

.book-main {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 400px 32px 1fr;
    grid-template-areas: 
        "book-wrapper"
        "listing-number"
        "listings-wrapper";
}

#book-wrapper {
    grid-area: book-wrapper;
    width: max-content;
    max-width: 80vw;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
}

.book {
    display: grid;
    grid-template-columns: 250px 350px;
    grid-template-rows: 320px;
    grid-template-areas: 
        "cover book-title-author-edition";
    margin: 20px 10px 20px 10px;
}

.cover {
    grid-area: cover;
    height: 300px;
    justify-self: center;
    align-self: center;
}

.book .book-title-author-edition .book-title{
    font-size: 40px;
}

.book .book-title-author-edition .book-author{
    font-size: 30px;
}

.book .book-title-author-edition .book-edition{
    font-size: 30px;
}

.listing-number {
    grid-area: listing-number;
    margin: 10px 40px 10px 40px;
    font-size: 20px;
    justify-self: flex-start;
    align-items: center;
}

.listings-wrapper {
    grid-area: listings-wrapper;
    margin: 20px 40px 20px 40px;
}

.listing {
    grid-area: listing;
    border: 1px solid gray;
    border-radius: 32px;
    margin: 4px 8px 4px 8px;
    display: grid;
    grid-template-columns: 128px 1fr 256px;
    grid-template-rows: 64px;
    grid-template-areas: 
        "listing-price listing-description listing-actions";
}

.listing-price {
    grid-area: listing-price;
    justify-self: center;
    align-self: center;
}
.center {
    text-align: center;
    margin: auto;
}

.listing-description {
    grid-area: listing-description;
    justify-self: left;
    align-self: center;
}

.listing-actions{
    grid-area: listing-actions;
    justify-self: right;
    align-self: center;
    margin-right: 40px;
}

.mine {
    display: grid;
    grid-template-columns: 64px 64px;
    grid-template-rows: auto;
    grid-template-areas:
        "listing-edit-option listing-delete-option";
}

.listing-edit-option {
    grid-area: listing-edit-option;
    justify-self: right;
}

.listing-delete-option {
    grid-area: listing-delete-option;
    justify-self: right;
}

/* LISTING SECTION */

.book-main {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 400px 32px 1fr;
    grid-template-areas: 
        "book-wrapper"
        "listing-number"
        "listings-wrapper";
}

#book-wrapper {
    grid-area: book-wrapper;
    width: max-content;
    max-width: 80vw;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
}

.listing-page-main {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "listing-photos listing-info seller-info";
}

.listing-photos {
    grid-area: listing-photos;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: 
        "listing-cover"
        "listing-alt-photos";
}

.listing-cover {
    grid-area: listing-cover;
    height: 300px;
    justify-self: center;
    align-self: center;
}

.listing-alt-photos {
    grid-area: listing-alt-photos;
    justify-self: center;
    align-self: center;
    display: flex;
}

.listing-alt-photo {
    margin: 10px 5px 10px 5px;
    height: 64px;
    justify-self: center;
    align-self: center;
}

.listing-info {
    grid-area: listing-info;
    grid-template-columns: 1fr;
    grid-template-rows: 128px 64px 64px 128px 1fr;
    grid-template-areas: 
        "listing-title listing-author listing-edition listing-price listing-description";
}

.listing-title {
    grid-area: listing-title;
    font-size: 40px;
}

.listing-author {
    grid-area: listing-author;
    font-size: 20px;
}

.listing-edition {
    grid-area: listing-edition;
    font-size: 20px;
}

.listing-price {
    grid-area: listing-price;
    font-size: 25px;
}

.listing-description {
    grid-area: listing-description;
}

.seller-info {
    grid-area: seller-info;
    border: 1px solid lightgray;
    padding: 10px;
    max-width: fit-content;
    max-height: fit-content;
    grid-template-columns: 64px 64px 64px 64px 256px;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "seller-name seller-school seller-reputation seller-contact";
}

.seller-name {
    grid-area: seller-name;
}

.seller-school {
    grid-area: seller-school;
}

.seller-reputation {
    grid-area: seller-reputation;
}

.seller-contact {
    grid-area: seller-contact;
}

/* USER DASHBOARD SECTION */

.dashboard-main {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 64px 20px 1fr;
    grid-template-areas: 
        ". heading ."
        ". my-listings ."
        ". my-listings-wrapper ."
}

#heading {
    grid-area: heading;
    font-size: 30px;
}

#my-listings {
    grid-area: my-listings;
    font-size: 30px;
    margin-top: 30px;
}

#my-listings-wrapper { 
    grid-area: my-listings-wrapper;
    margin-top: 64px;
    width: max-content;
    max-width: 80vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.result {
    display: grid;
    grid-template-columns: 110px 210px 100px;
    grid-template-rows: 160px;
    grid-template-areas: 
        "cover-small book-title-author-edition book-number";
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px 10px 20px 10px;
}
/*singin promt css */
.signin_prompt {
    background-color: #FFFFFF;
    width: 400px;
    height: 350px;
    margin: 7em auto;
    text-align:center;
    padding : 20px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);"
}

/*registration promt css */
.registration_prompt {
    background-color: #FFFFFF;
    width: 400px;
    height: 600px;
    margin: 7em auto;
    text-align:center;
    padding : 20px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);"
}
#link{
    color: blue;
    cursor: pointer;
}