<div id="navbar">
  <%= link_to "L'Books", '/', :id => 'navbar-logo' %>
  <button id="signin">Sign In</button> <!-- TODO -->
</div>
<div class="book-main">
  <div id="book-wrapper">
    <a class="book" href="#">
      <img class="cover" src="../assets/images/iliad.jpg" />
      <div class="book-title-author-edition">
        <p class="book-title">Book Title</p>
        <p class="book-author">Book Author</p>
        <p class="book-edition">Edition | ISBN</p>
      </div>
    </a>
  </div>
  <div class="listing-number">X listings found</div>
  <div class="listings-wrapper">
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contacted</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions mine">
        <div class="listing-edit-option">Edit</div>
        <div class="listing-delete-option">Delete</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
  </div>
</div>