<div id="topbar">
    <button id="signin">Sign In</button>
</div>
<div class="main">
    <a href="#" id="logo">L'Books</a>
    <div id="flexbox">
        <select name="criteria" id="criteria">
            <option value="titleauthor">Title/Author</option>
            <option value="course">Course Number</option>
            <option value="isbn">ISBN</option>
        </select>
        <input type="text" id="search" placeholder="The Iliad">
    </div>
    <button id="search-btn">Search</button>
</div>